@using Microsoft.AspNetCore.Identity
@using ProblemAndSolution.Infrastructure.Entities.Membership
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model BlogViewModel
@{
    ViewData["Title"] = "Details";
}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
            @if (Model != null)
            {
                <h3 class="mb-3">Heading: @Model.Heading</h3>
                <div class="d-flex justify-content-between mb-3">
@*                     <span class="text-secondary">@Model.Author</span>
                *@ <a href="@Url.Action("UserprofileDetails", "Home", new { userId = Model.UserId })">
                       Author: @Model.Author
                    </a>
                    <span class="text-secondary">@Model.PublishedDate.ToString("MMMM dd, yyyy")</span>
                </div>
                <div class="mb-3">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        @if (Model.Liked)
                        {
                            <button style="cursor: pointer; background: none; border: none;">
                                <i class="bi bi-hand-thumbs-up-fill"></i>
                            </button>
                        }
                        else
                        {
                            <button onclick="LoadQusnVote()" style="cursor: pointer; background: none; border: none;">
                                <i class="bi bi-hand-thumbs-up"></i>
                            </button>
                        }
                    }
                    <span id="totalLikes">@Model.TotalLikes</span> likes
                    <input type="text" hidden value="@Model.Id" class="getQuesId" />
                </div>
                <img src="@Model.ImageUrl" style="max-width: 70%"; class="d-block img-fluid mb-3 " />

                <div class="mb-3 blog-details-content">
                    @Html.Raw(Model.Content)
                </div>

                <div class="card w-100">
                    <div class="card-header">
                        <h5>Comments</h5>
                        <form method="post">
                            <div class="mb-3">
                                <label class="form-label">Comment Description</label>
                                <input type="text" class="form-control" asp-for="CommentDescription" />
                            </div>
                            <div class="mb-3">
                                <button type="submit" class="btn btn-dark">
                                    Save
                                </button>
                            </div>
                            @* <div class="mb-3">
                                <label class="form-label">Comment Description</label>
                                <input type="text" class="form-control" asp-for="CommentDescription" />
                            </div> *@
                            <div class="mb-3">
                                <h5>Comments :@Model.NoOfComment</h5>
                            </div>
                        </form>
                    </div>
                    <div class="card-body">
                        @if (Model.comments != null && Model.comments.Any())
                        {
                            @foreach (var comment in Model.comments)
                            {
                                <div class="card mb-3">
                                    <div class="card-body">
                                        <div>
                                            @comment.Description
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <span class="text-secondary">@comment.Author</span>
                                            <span class="text-secondary">@comment.DateAdded.ToString()</span>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            }
            else
            {
                <p>Blog post not found!</p>
            }
        </div>
    </div>
</div>



@* <div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
            @if (Model != null)
            {
                <h1 class="mb-3">@Model.Heading</h1>
                <div class="d-flex justify-content-between mb-3">
                    <span class="text-secondary">@Model.Author</span>
                    <span class="text-secondary">@Model.PublishedDate.ToShortDateString()</span>
                </div>
                <div class="mb-3">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        if (Model.Liked)
                        {
                            <button  style="cursor: pointer; background: none; border: none;">
                                <i class="bi bi-hand-thumbs-up-fill"></i>
                            </button>
                        }
                        else
                        {
                            <button onclick="LoadQusnVote()" style="cursor: pointer; background: none; border: none;">
                                <i class="bi bi-hand-thumbs-up"></i>
                            </button>

                        }
                    }
                    <span id="totalLikes">@Model.TotalLikes</span> likes
                    <input type="text" hidden value="@Model.Id" class="getQuesId" />
                </div>
                <img src="@Model.ImageUrl" class="d-block img-fluid mb-3" />

                <div class="mb-3 blog-details-content">
                    @Html.Raw(Model.Content)
                </div>
                <!-- Rest of the code -->

                <div class="card w-100">
                    <div class="card-header">
                        <h5>Comments</h5>
                        <form method="post">
                            <div class="mb-3">
                                <label class="form-label">Comment Description</label>
                                <input type="text" class="form-control" asp-for="CommentDescription" />
                            </div>
                            <div class="mb-3">
                                <button type="submit" class="btn btn-dark">Submit</button>
                                <input type="hidden" asp-for="Id" />
                            </div>
                        </form>
                    </div>
                    <div class="card-body">
                        @if (Model.comments != null && Model.comments.Any())
                        {
                            @foreach (var comment in Model.comments)
                            {
                                <div class="card mb-3">
                                    <div class="card-body">
                                        <div>
                                            @comment.Description
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <span class="text-secondary">@comment.Author</span>
                                            <span class="text-secondary">@comment.DateAdded.ToShortDateString()</span>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            }
            else
            {
                <p>Blog post not found!</p>
            }
        </div>
    </div>
</div> *@



@section Scripts {

    <script>
        function LoadQusnVote() {
            var quesId = $(".getQuesId").val();
            console.log(quesId);
            $.ajax({
                url: '@Url.Action("AddLike", "Home")',
                type: 'POST',
                cache: false,
                data: { 'quesId': quesId },
                success: function (result) {
                    console.log("saved");
                    location.href = `/Home/Details/${quesId}`;
                },
                error: function (result) {
                    if (result.status == 401) {
                        location.href = '/Account/Login';
                    }
                }
            });
        }
    </script>    
}