@model BlogModel

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                Blog Post List
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="blogTable" class="table table-striped table-bordered">
                        <thead class="thead-dark">
                            <tr class="table-info">
                                <th class="col">Tag</th>
                                <th class="col">Title</th>
                                <th class="col">Short Description</th>
                                <th class="col">Image URL</th>
                                <th class="col">Published Date</th>
                                <th class="col">Author</th>
                                <th class="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var blog in Model.Blogs)
                            {
                                <tr class="@(blog.Visible=="Approve" ?"" : "blurred")">
                                    <td>@blog.Tag</td>
                                    <td>@blog.PageTitle</td>
                                    <td>@blog.ShortDescription</td>
                                    <td><img src="@blog.ImageUrl" style="max-width: 100px;" /></td>
                                    <td>@blog.PublishedDate.ToString("MMMM dd, yyyy")</td>
                                    <td>@blog.Author</td>
                                    <td>
                                        @if (blog.Visible=="Pending")
                                        {
                                            <form method="post" asp-action="Approve" asp-controller="Blog">
                                                <input type="hidden" name="id" value="@blog.Id" />
                                                <button type="submit" class="btn btn-danger mb-1">Approve</button>
                                            </form>
                                        }
                                        else
                                        {
                                            <button type="submit" class="btn btn-primary mb-1">Approved</button>
                                        }
                                       
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .blurred {
        filter: blur(5px);
        opacity: 0.6;
    }

        .blurred:hover {
            filter: none;
            opacity: 1;
        }
</style>
